<!--{% extends 'base.html' %}-->
<!--{% block content %}-->
<!--    <div class="d-flex justify-content-center">-->
<!--        <h2> Job Application Form </h2>-->
<!--    </div>-->
<!--    <div class="container" style="margin-top: 1%">-->
<!--        <form action="" method="post" class="needs-validation">-->
<!--            <div class="form-group row">-->
<!--                <div class="col-sm-10">-->
<!--                    {% csrf_token %}-->
<!--                    {{form.as_p}}-->
<!--                    <input type="submit">-->
<!--                </div>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--{% endblock content %}-->