<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>
<body>
    <form id="regForm" action="/jobApplication/" method="POST">
        {% csrf_token %}
        {{for i in }}
        <div class="form-group row mb-2 mr-2 ml-2" style="padding-left: 1%;">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckboxl1" name="Language1" value="Hindi">
                <label class="form-check-label" for="inlineCheckboxl1">Hindi </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="Language1_read" value="read">
                <label class="form-check-label" for="inlineCheckbox2">Read</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="Language1_write" value="write">
                <label class="form-check-label" for="inlineCheckbox3">Write</label>
            </div>
            <div class="form-check form-check-inline">
    
                <input class="form-check-input" type="checkbox" id="inlineCheckbox4" name="Language1_speak" value="speak">
                <label class="form-check-label" for="inlineCheckbox4">Speak</label>
            </div>
        </div>
    </form>
</body>
</html>
